/* @font-face {
  font-family: friends;
  src: url("assests/GABRWFFR.TTF");
} */

.App {
  text-align: center;
  background-image: url("https://i.pinimg.com/originals/d7/da/2a/d7da2a007e6d185a9610e368de50f484.jpg");
}

.App-header {
  background-color: rgb(240, 153, 227);
  font-size: 30px;
  height: 150px;
  padding: 20px;
  color: white;
  padding-bottom: 2px;
  border-bottom: 3px solid white;
}

.App-title {
  font-size: 50px;
}

.App-intro {
  padding: 10px;
  color: rgb(190, 19, 199);
}

.fas {
  margin-right: 30px;
}

.score {
  color: rgb(156, 16, 164);
}
